.App {
  font-family: sans-serif;
  color: white;
  background-color: black;
  width: auto;
  height: auto;
  width: 250px;
}


.titolo{
  color: grey;
}

.display {
  text-align: right;
  font-size: 28px;
  color: white;
  background-color: rgb(36, 36, 36);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 80px;
}

.btn {
  color: white;
  width: 25%;
  height: 12%;
  font-size: 15px;
  font-weight: bold;
  border-color: rgba(28, 29, 28, 0.61);
  border-width: 2px;
  padding: 5px;
  border-radius: 0px;
}

.num{
  background-color: rgb(17, 17, 24);
}

.oper{
  background-color: rgb(36, 36, 36);
}

.uguale{
  background-color: red;
}



